[Unit]
Description=Binds /sys/bus/pci/devices/%j to %i
{% for service in conflicts %}
Conflicts={{service}}
{% endfor %}
[Service]
Type=oneshot
RemainAfterExit=true
ExecStart={{ pearasys_bin }} -v -s %j driver %i bind
ExecStop={{ pearasys_bin }} -v -s %j driver %i unbind

[Install]
WantedBy=multi-user.target
DefaultInstance=vfio-pci

# vim: ft=systemd
