[Unit]
Description=Binds /sys/bus/pci/devices/%j to %i
{% for service in conflicts %}Conflicts={{service}}
{% endfor %}
[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre={{ pearasys_bin }} -v -s %j pci device unbind
ExecStart={{ pearasys_bin }} -v -s %j pci driver %i bind
ExecStop={{ pearasys_bin }} -v -s %j pci driver %i unbind
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
DefaultInstance=vfio-pci

# vim: ft=systemd
